@import '../common-styles/vars-mixins.scss';
@import '../common-styles/commonStyles.scss';
@import '../common-styles/articles-news-block.scss';

.main {
    margin-top: 50px;
    margin-bottom: 200px;
}

.banner {
    position: relative;
    min-height: 356px;
    background-image: url(../img/blog-banner.jpg);
    display: flex;
    justify-content: center;

    &__info {
        position: absolute;
        bottom: 0;
        width: 503px;
        height: 178px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 37px;
        border-top-right-radius: 37px;
        background: #fff;

    }
}

.latest-post {
    margin-top: 200px;
    display: grid;
    gap: 28px;
}

.articles-news-block {
    margin-top: 150px;

    &__item_big {
        flex-direction: row;
        gap: 65px;
    }
}

.articles-news-block__item-info_big {
    width: 489px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.pagination {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;

    &__item {
        width: 52px;
        height: 52px;
        border: 1px solid $primaryColor1;
        border-radius: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}