@import '../vars-and-mixins';
@import '../nav-and-menu';
@import '../footer';


/* DESKTOP */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.box {
    position: relative;
    overflow: hidden;
}

.top {

    &__title {
        @include font($fontStyle, $fontWeight, 24px, 29px, $accentColor);
    }

    &__breadcrumb-block {
        @include positioning (center, space-between);
        flex-direction: row;
        flex-wrap: wrap;
        background: #F8F3F4;
        min-height: 150px;
    }

    &__breadcrumb {
        list-style: none;

        &__li {
            display: inline;
        }

        &__a {
            @include font($fontStyle, 300, $fontSize, $lineHeight, #636363);
        }

        &__li+&__li:before {
            padding: 8px;
            color: black;
            content: "/\00a0";
        }

        &__li &__a:hover {
            color: $accentColor
        }
    }
}

.main {
    &__background {
        @include positioning (center, space-between);
        background-color: #F8F8F8;
        height: 777px;
        border-bottom: #EAEAEA 1px solid;
        
        & :hover path {
            fill: $accentColor;
        }

        &__slider {
            @include positioning (center, center);
            width: 47px;
            min-height: 47px;
            background: rgba(42, 42, 42, 0.15);
            cursor: pointer;
        }
    }
}

.products-catalog {
    margin-bottom: 128px;

    &__title_big {
        @include font($fontStyle, 300, $fontSize, $lineHeight, $accentColor);
    }

    &__hr-line {
        &_pink {
            margin: 12px 0px;
            border: none;
            width: 63px;
            height: 3px;
            color: $accentColor;
            background-color: $accentColor;
        }

        &_grey {
            width: 641px;
            margin-bottom: 65px;
            border: 1px solid #EAEAEA;
        }
    }

    &__img {
        max-width: 100%;
    }

    &__link {
        padding-bottom: 12px;
        @include font($fontStyle, $fontWeight, 13px, 16px, #000);

        &_big {
            @include font($fontStyle, 300, 18px, 22px, $contentColor)
        }
    }

    &__text {
        @include font($fontStyle, 300, $fontSize, $lineHeight, $contentColor);
        opacity: 0.7;

        &_big {
            @include font($fontStyle, 300, $fontSize, $lineHeight, $contentColor);
            text-align: center;
            margin-bottom: 32px;
        }
    }

    &__price {
        @include font($fontStyle, $fontWeight, 16px, 19px, $accentColor);

        &_big {
            @include font($fontStyle, 300, 24px, 29px, $accentColor);
            margin-bottom: 65px;
        }
    }

    &__choices {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 42px;
        margin-bottom: 49px;
        cursor: pointer;

        align-content: center;

        & summary {
            @include positioning (center, space-between);
            gap: 9px;
            @include font($fontStyle, $fontWeight, $fontSize, $lineHeight, $contentColor);
        }
    }

    &__add-to-cart-text {
        @include font($fontStyle, $fontWeight, $fontSize, $lineHeight, #FFF);

        &_big {
            @include font($fontStyle, $fontStyle, 16px, 19px, $accentColor);
        }
    }

    &__box {
        margin-top: -767px;
        padding-bottom: 48px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;

        &__item {
            position: relative;
            background-color: #F8F8F8;

            &_big {
                display: grid;
                grid-column: span 3;
                justify-items: center;
            }

            &__content {
                display: flex;
                flex-direction: column;
                gap: 18px;
                padding: 24px 18px;

                &_big {
                    background-color: #FFF;
                    border: solid 1px #EAEAEA;
                    padding: 65px 250px;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    align-items: center;
                }
            }

            &__add-to-cart {
                position: absolute;
                top: 188px;
                left: 111px;
                display: none;
                border: 1px solid #FFF;
                padding: 11px 13px 9px;
                cursor: pointer;

                &_big {
                    display: flex;
                    align-items: center;
                    gap: 23px;
                    padding-left: 23px;
                    padding-right: 56px;
                    height: 47px;
                    border: solid 1px $accentColor;
                    cursor: pointer;

                    &:hover {
                        background-color: $accentColor;
                    }

                    &:hover path {
                        fill: #FFF;
                    }

                    &:hover .products-catalog__add-to-cart-text_big {
                        color: #FFF;
                    }
                }

                &:hover path {
                    fill: $accentColor;
                }

                &:hover .products-catalog__add-to-cart-text {
                    color: $accentColor;
                }

            }

            &:hover .products-catalog__img {
                filter: brightness(0.5);
            }

            &:hover &__add-to-cart {
                @include positioning (center, center);
                gap: 11px;
            }
        }
    }
}

.footer {
    &__rev-sub {
        background-image: url(../img/footer/photo_subscribe.jpg);
    }
}


/* TABLET */

@media (max-width: 1024px) {

    .center {
        /* мин визуальный отсуп для планшета 8px */
        padding-left: calc(50% - 368px);
        padding-right: calc(50% - 368px);
    }

    .products-catalog {
        padding-bottom: 70px;

        &__box {
            padding-top: 72px;
            padding-bottom: 33px;
            grid-template: repeat(3, 3fr) / repeat(2, 2fr);
            gap: 16px;
        }
    }

    .footer__pros {
        gap: 49px;
        flex-direction: column;
        padding-top: 48px;
        padding-bottom: 64px;
    }

    .footer__rev-sub {
        padding-top: 64px;
        padding-bottom: 140px;
        flex-direction: column;
        gap: 48px;
    }
}

/* MOBILE */

@media (max-width: 767px) {

    .center {
        padding-left: calc(50% - 343px);
        padding-right: calc(50% - 343px);
    }

    .top__content {
        padding-left: calc(50% - 343px);
        padding-right: calc(50% - 343px);
        min-height: 363px;
        justify-content: center;
    }

    .top__nav-panel__left-side {
        padding-left: 16px;
    }

    .top__nav-panel__right_side {
        padding-right: 16px;
    }

    .products-catalog {
        padding-bottom: 85px;

        &__box {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 16px;
            padding-bottom: 40px;

            &__item {
                max-width: 343px;
            }
        }
    }

    .footer__pros {
        gap: 47px;
        padding-bottom: 81px;

        &__item {
            max-width: 343px;
        }

        &__rev-sub {
            padding-bottom: 110px;

            &__review {
                max-width: 343px;
            }

            &__text {
                font-size: 18px;
                line-height: 22px;
            }

            &__subscribe {
                max-width: 343px;

                &__subtitle {
                    font-size: 14px;
                }
            }
        }
    }

    .footer__social-media {
        min-height: 143px;
        justify-content: space-between;
        flex-direction: column;
        padding-top: 43px;
        padding-bottom: 9px;
    }
}

@media (max-width: 374px) {
    .footer__rev-sub__form__email {
        width: 176px;
    }
}

@media (max-width:351px) {

    .top__nav-panel__left-side {
        padding-left: 8px;
    }

    .top__nav-panel__right_side {
        padding-right: 8px;
    }

    .products-catalog__box__item {
        padding-left: 8px;
        padding-right: 8px;
    }

}