@import '../vars-and-mixins';
@import '../nav-and-menuGeneral';
@import '../footerGeneral';


/* DESKTOP */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

summary {
    display: block;
    cursor: pointer;
}

summary::-webkit-details-marker {
    display: none;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.box {
    position: relative;
    overflow: hidden;
}

.top {

    &__title {
        @include font($fontStyle, $fontWeight, 24px, 29px, $accentColor);
    }

    &__breadcrumb-block {
        @include positioning (center, space-between);
        flex-direction: row;
        flex-wrap: wrap;
        background: #F8F3F4;
        min-height: 150px;
    }

    &__breadcrumb {
        list-style: none;

        &__li {
            display: inline;

            &:last-child .top__breadcrumb__a {
                font-weight: 700;
                color: $accentColor;
            }
        }

        &__a {
            @include font($fontStyle, 300, $fontSize, $lineHeight, #636363);
        }

        &__li+&__li:before {
            padding: 8px;
            color: black;
            content: "/\00a0";
        }

        &__li &__a:hover {
            color: $accentColor
        }
    }
}

.main {
    &__background {
        @include positioning (center, space-between);
        background-color: #F8F8F8;
        height: 777px;
        border-bottom: #EAEAEA 1px solid;

        & :hover path {
            fill: $accentColor;
        }

        &__slider {
            @include positioning (center, center);
            width: 47px;
            min-height: 47px;
            background: rgba(42, 42, 42, 0.15);
            cursor: pointer;
        }
    }
}

.products-catalog {
    margin-bottom: 128px;

    &__title_big {
        @include font($fontStyle, 300, $fontSize, $lineHeight, $accentColor);
    }

    &__hr-line {
        &_pink {
            margin: 12px 0px;
            border: none;
            width: 63px;
            height: 3px;
            color: $accentColor;
            background-color: $accentColor;
        }

        &_grey {
            width: 641px;
            margin-bottom: 65px;
            border: 1px solid #EAEAEA;
        }
    }

    &__img {
        max-width: 100%;
    }

    &__link {
        padding-bottom: 12px;
        @include font($fontStyle, $fontWeight, 13px, 16px, #000);

        &_big {
            @include font($fontStyle, 300, 18px, 22px, $contentColor);
            margin-bottom: 48px;
        }
    }

    &__text {
        @include font($fontStyle, 300, $fontSize, $lineHeight, $contentColor);
        opacity: 0.7;

        &_big {
            @include font($fontStyle, 300, $fontSize, $lineHeight, $contentColor);
            text-align: center;
            margin-bottom: 32px;
        }
    }

    &__price {
        @include font($fontStyle, $fontWeight, 16px, 19px, $accentColor);

        &_big {
            @include font($fontStyle, 300, 24px, 29px, $accentColor);
            margin-bottom: 65px;
        }
    }

    &__choices {
        cursor: pointer;
        margin-bottom: 49px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        gap: 42px;

        &__item[open] .products-catalog__choices__summary {
            color: $accentColor;
        }

        &__item[open] path {
            fill: $accentColor;
        }


        &__summary {
            @include positioning (center, space-between);
            gap: 9px;
            @include font($fontStyle, $fontWeight, $fontSize, $lineHeight, $contentColor);

            &:hover {
                color: $accentColor;
            }

            &:hover path {
                fill: $accentColor;
            }
        }
    }

    &__add-to-cart-text {

        @include font($fontStyle, $fontWeight, $fontSize, $lineHeight, #FFF);

        &_big {
            @include font($fontStyle, $fontStyle, 16px, 19px, $accentColor);
        }
    }

    &__box {
        margin-top: -780px;
        padding-bottom: 48px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;

        &__item {
            position: relative;
            background-color: #F8F8F8;

            &_big {
                display: grid;
                grid-column: span 3;
                justify-items: center;
            }

            &__content {
                display: flex;
                flex-direction: column;
                gap: 18px;
                padding: 24px 18px;

                &_big {
                    background-color: #FFF;
                    border: solid 1px #EAEAEA;
                    padding: 65px 250px;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    align-items: center;
                }
            }

            &__add-to-cart {
                position: absolute;
                top: 188px;
                left: 111px;
                display: none;
                border: 1px solid #FFF;
                padding: 11px 13px 9px;
                cursor: pointer;

                &_big {
                    display: flex;
                    align-items: center;
                    gap: 23px;
                    padding-left: 23px;
                    padding-right: 56px;
                    height: 47px;
                    border: solid 1px $accentColor;
                    cursor: pointer;

                    &:hover {
                        background-color: $accentColor;
                    }

                    &:hover path {
                        fill: #FFF;
                    }

                    &:hover .products-catalog__add-to-cart-text_big {
                        color: #FFF;
                    }
                }

                &:hover path {
                    fill: $accentColor;
                }

                &:hover .products-catalog__add-to-cart-text {
                    color: $accentColor;
                }

            }

            &:hover .products-catalog__img {
                filter: brightness(0.5);
            }

            &:hover &__add-to-cart {
                @include positioning (center, center);
                gap: 11px;
            }
        }

    }
}



.footer {
    &__rev-sub {
        background-image: url(../img/footer/photo_subscribe.jpg);
    }
}


/* TABLET */
@import '../tabletGeneral';

@media (max-width: 1156px) {

    .products-catalog__box {
        grid-template-columns: repeat(2, 1fr);
    }

    .products-catalog__box__item_big {
        grid-column: span 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .disp-none {
        display: none
    }

    .products-catalog__box__item__content_big {
        padding: 64px;
    }
}

/* MOBILE */
@import '../mobileGeneral';

@media (max-width: 767px) {
    .top__breadcrumb-block {
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        gap: 32px;
    }

    .main__background {
        height: 544px;

        &__slider {
            position: relative;
        }
    }

    .products-catalog {

        &__box {
            margin-top: -544px;
            grid-template-columns: 1fr;
            gap: 8px;
            justify-content: center;
            justify-items: center;

            &__item {
                max-width: 360px;

                &_big {
                    grid-column: span 1;
                    justify-content: center;
                }

                &__content_big {
                    align-content: center;
                    padding: 64px 24px;
                }
            }

        }

        &__text {
            line-height: 20px;

            &_big {
                line-height: 20px;
            }
        }

        &__img_big {
            max-height: 374px;
            padding: 85px 0px;
        }

        &__link_big {
            margin-bottom: 32px;
        }

        &__hr-line_grey {
            width: 174px;
        }

        &__choices {
            gap: 25px;

            &__choices__summary {
                font-size: 10px;
                line-height: 12px;
            }
        }
    }

}

@media (max-width:351px) {

    .products-catalog__box__item {
        max-width: 310px;
    }
}