@charset "UTF-8";
/* DESKTOP */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.box {
  position: relative;
  overflow: hidden;
}

.top__nav-panel {
  min-height: 75px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #222;
}
.top__nav-panel__left-side {
  display: flex;
  gap: 41px;
  align-items: baseline;
}
.top__nav-panel__right-side {
  display: flex;
  gap: 33px;
  align-items: center;
}
.top__content {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  margin-bottom: 65px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 64px;
  background: #F1E4E6;
}
.top__text {
  width: 405px;
  padding-left: 16px;
  border-left: solid 12px #F16D7F;
}
.top__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  color: #222;
}
.top__subtitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  color: #222;
}
.top__subtitle_colored {
  color: #F16D7F;
}

.menu {
  position: absolute;
  top: 75px;
  z-index: 1;
  right: -232px;
  width: 232px;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 32px;
  box-sizing: border-box;
}
.menu__ticker {
  display: none;
}
.menu__ticker:checked ~ .menu {
  right: 0px;
  transition: 0.4s;
}
.menu__button {
  cursor: pointer;
}
.menu__title {
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.menu__subtitle {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}
.menu__list {
  list-style-type: none;
  padding-left: 21px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.menu__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.menu__link:hover {
  color: #F16D7F;
}
.menu__link__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*

*/
.main-content__nav-block {
  background: #F8F3F4;
  min-height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-content__nav-title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.breadcrumb {
  list-style: none;
}

.breadcrumb li {
  display: inline;
}

.breadcrumb li a {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/ ";
}

.breadcrumb li a:hover {
  color: #F16D7F;
}

.product {
  background: #F7F7F7;
}

.footer_pros {
  min-height: 338px;
  background: #222224;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.footer_pros_item {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.f_pros_item_title {
  font-style: normal;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}

.f_pros_item_text {
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  opacity: 0.6;
}

.review_subscribe {
  min-height: 448px;
  background-image: url(../img/footer/photo_subscribe.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.review_photo {
  width: 96px;
}

.review_text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.subscribe_block {
  max-width: 360px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.subscribe_title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 153.2%;
  text-align: center;
  color: #222224;
}

.subscribe_subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 153.2%;
  text-align: center;
  color: #222224;
  margin-bottom: 30px;
}

.subscribe_form {
  max-width: 356px;
  height: 50px;
  display: flex;
  justify-content: center;
}

.subscribe_form_email {
  background: #E1E1E1;
  width: 256px;
  max-height: 50px;
  border: 0;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-left: 22px;
  padding-right: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #222224;
  opacity: 0.67;
}

.subscribe_button {
  background: #F16D7F;
  width: 100px;
  max-height: 50px;
  border: 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
}

.social_media {
  background: #222224;
  min-height: 79px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social_media_title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.sm_icons_block {
  display: flex;
  gap: 7px;
}

.sm_icons:hover .path_outer {
  fill: #F16D7F;
}

.sm_icons:hover .path_inner {
  fill: #FFF;
}/*# sourceMappingURL=style.css.map */