@import '../vars-and-mixins';
@import '../nav-and-menuGeneral';
@import '../footerGeneral';

/* DESKTOP */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

summary {
    display: block;
    cursor: pointer;
}

summary::-webkit-details-marker {
    display: none;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.box {
    position: relative;
    overflow: hidden;
}


.top {

    &__title {
        @include font($fontStyle, $fontWeight, 24px, 29px, $accentColor);
    }

    &__content-block {
        @include positioning (center, space-between);
        flex-direction: row;
        flex-wrap: wrap;
        background: #F8F3F4;
        min-height: 150px;
    }

    &__breadcrumb {
        list-style: none;

        &__li {
            display: inline;

            &:last-child .top__breadcrumb__a {
                font-weight: 700;
                color: $accentColor;
            }
        }

        &__a {
            @include font($fontStyle, 300, $fontSize, $lineHeight, #636363);
        }

        &__li+&__li:before {
            padding: 8px;
            color: $contentColor;
            content: "/\00a0";
        }

        &__li &__a:hover {
            color: $accentColor
        }
    }
}

.main {
    position: relative;
}

.sort {
    padding-top: 39px;
    position: absolute;
    display: flex;
    gap: 30px;
}

.filter {
    position: relative;
    width: 360px;
    padding: 13px 16px;
    box-sizing: border-box;
    @extend %sorts-open;

    &__icon {
        width: 15px;
        height: 10px;
    }

    &__summary {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        gap: 11px;
        @include font($fontStyle, 600, $fontSize, $lineHeight, $contentColor);

        &:hover path {
            fill: $accentColor;
        }

        &:hover {
            color: $accentColor;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &__item {
            &[open] .filter__content__heading {
                color: $accentColor;
            }
        }

        &__heading {
            padding-left: 16px;
            height: 37px;
            border-bottom: 1px solid #EBEBEB;
            border-left: 5px solid $accentColor;
            display: flex;
            align-items: center;
            @include font($fontStyle, $fontWeight, $fontSize, $lineHeight, $contentColor);

            &:hover {
                color: $accentColor;
            }
        }

        &__links-box {
            padding: 24px 12px 4px;
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        &__links {
            @include font($fontStyle, $fontWeight, $fontSize, $lineHeight, $contentColor);

            &:hover {
                color: $accentColor
            }
        }
    }
}

.trending-now {
    padding: 13px 10px;
    box-sizing: border-box;
    position: relative;
    height: 150px;
    @extend %sorts-open;

    &__summary {
        @extend .filter__summary;
    }
}

.size {
    padding: 13px 10px;
    box-sizing: border-box;
    position: relative;
    height: 179px;
    @extend %sorts-open;

    &__summary {
        @extend .filter__summary;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &__checkbox {
            @include positioning (center, flex-start);
            @include font($fontStyle, $fontWeight, $fontSize, 16px, $contentColor);
            gap: 10px;
        }
    }
}

.price {
    padding: 13px 16px;
    box-sizing: border-box;
    position: relative;
    height: 150px;
    @extend %sorts-open;

    &__summary {
        @extend .filter__summary;
    }
}

.products-catalog {
    padding-top: 134px;
    padding-bottom: 90px;
    @include positioning (center, center);
    flex-direction: column;

    &__title {
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        color: #222;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $contentColor;
        opacity: 0.7;

        &_white {
            color: #FFF;
        }
    }

    &__img {
        max-width: 100%;
    }

    &__link {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #000000;
    }

    &__text {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
        opacity: 0.7;
        margin-bottom: 6px;
    }

    &__price {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #F16D7F;
    }

    &__box {
        padding-bottom: 48px;
        display: grid;
        grid-template: repeat(2, 2fr) / repeat(3, 3fr);
        gap: 30px;

        &__item {
            position: relative;
            background-color: #F8F8F8;
            ;

            &__content {
                display: flex;
                flex-direction: column;
                gap: 12px;
                padding: 24px 18px 20px;
            }

            &__add-to-cart {
                position: absolute;
                top: 188px;
                left: 111px;
                display: none;
                border: 1px solid #FFF;
                padding: 11px 13px 9px;

                &:hover path {
                    fill: $accentColor;
                }

                &:hover .products-catalog__subtitle_white {
                    color: $accentColor;
                }

            }

            &:hover .products-catalog__img {
                filter: brightness(0.5);
            }

            &:hover &__add-to-cart {
                display: flex;
                gap: 11px;
            }
        }
    }
}

.pagination {
    min-height: 43px;
    width: 283px;
    border: solid 1px #EBEBEB;
    @include positioning(center, center);
    gap: 17px;

    &__page-number {
        @include font($fontStyle, 300, 16px, 19px, #C4C4C4);

        &:hover {
            color: $accentColor;
        }

        &:hover path {
            fill: $accentColor;
        }
    }
}

.footer {

    &__pros {
        @include positioning(center, center);
        min-height: 338px;
        background: #222224;
        gap: 30px;

        &__item {
            @include positioning(center, center);
            max-width: 360px;
            flex-direction: column;
            gap: 20px;
        }

        &__title {
            @include font($fontStyle, $fontWeight, 20px, 24px, #FBFBFB);
        }

        &__text {
            @include font($fontStyle, 300, $fontSize, $lineHeight, #FBFBFB);
            text-align: center;
            opacity: 0.6;
        }

        &__icon {
            max-width: 100%;
        }
    }

    &__rev-sub {
        background-image: url(../img/footer/photo_subscribe.jpg);
    }
}


/* TABLET */
@import '../tabletGeneral';

@media (max-width: 1156px) {
    .sort {
        gap: 8px;
    }

    .trending-now {
        margin-left: 22px;
        width: 165px;
    }

    .disp-none {
        display: none
    }

    .products-catalog__box {
        grid-template: repeat(4, 1fr)/repeat(2, 1fr);
        gap: 16px;
    }
}

/* MOBILE */
@import '../mobileGeneral';

@media (max-width: 767px) {

    .top__content-block {
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        gap: 32px;
    }

    .filter-disp-none {
        display: none;
    }

    .filter {
        position: absolute;
        width: 70px;
    }

    .filter[open] {
        width: 360px;
    }

    .filter__icon {
        width: 38px;
        height: 25px;
    }

    .sort {
        gap: 4px;
    }

    .trending-now {
        width: 125px;
        margin-left: 105px;
        padding: 13px 4px;

        &__summary {
            font-size: 12px;
            line-height: 14px;
            font-weight: 400;
            gap: 9px;
        }
    }


    .size {
        padding: 13px 7px;

        &__summary {
            font-size: 12px;
            line-height: 14px;
            font-weight: 400;
            gap: 9px;
        }
    }

    .price {
        padding: 13px 7px;

        &__summary {
            font-size: 12px;
            line-height: 14px;
            font-weight: 400;
            gap: 9px;
        }
    }

    .products-catalog__box {
        grid-template-columns: 1fr;
    }

    .products-catalog__box__item {
        max-width: 360px;
    }

}

@media (max-width:351px) {}