@charset "UTF-8";
.top__nav-panel {
  min-height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  background: #000;
}
.top__nav-panel__left-side {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 41px;
}
.top__nav-panel__right-side {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 33px;
}

.menu {
  position: absolute;
  top: 75px;
  z-index: 1;
  right: -232px;
  width: 232px;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 32px;
  box-sizing: border-box;
}
.menu__item {
  margin-bottom: 20px;
}
.menu__ticker {
  display: none;
}
.menu__ticker:checked ~ .menu {
  right: 0px;
  transition: 0.4s;
}
.menu__button {
  cursor: pointer;
}
.menu__title {
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.menu__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}
.menu__list {
  padding-top: 12px;
  padding-left: 21px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.menu__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.menu__link:hover {
  color: #F16D7F;
}
.menu__link__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__rev-sub {
  min-height: 448px;
  background-position: left bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(244, 244, 244);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__rev-sub__review {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.footer__rev-sub__photo {
  width: 96px;
}
.footer__rev-sub__text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #222224;
  text-align: center;
}
.footer__rev-sub__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 153.2%;
  color: #222224;
  text-align: center;
}
.footer__rev-sub__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 153.2%;
  color: #222224;
  text-align: center;
  margin-bottom: 30px;
}
.footer__rev-sub__subscribe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 360px;
  flex-direction: column;
}
.footer__rev-sub__form {
  max-width: 356px;
  height: 50px;
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.footer__rev-sub__form__email {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.67;
  background: #E1E1E1;
  width: 256px;
  max-height: 50px;
  border: 0;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-left: 22px;
  padding-right: 22px;
}
.footer__rev-sub__form__button {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  text-align: center;
  background: #F16D7F;
  width: 100px;
  max-height: 50px;
  border: 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__social-media {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #222224;
  min-height: 79px;
}
.footer__social-media__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}
.footer__social-media_icons-box {
  display: flex;
  gap: 7px;
}
.footer__social-media__icon:hover .path-outer {
  fill: #F16D7F;
}
.footer__social-media__icon:hover .path-inner {
  fill: #FFF;
}

/* DESKTOP */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

summary {
  display: block;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.box {
  position: relative;
  overflow: hidden;
}

.button {
  cursor: pointer;
  width: 100px;
  border: 1px solid #4A4A4A;
  padding: 9px 10px 12px;
  background-color: #fff;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #6F6E6E;
}

.top {
  margin-bottom: 96px;
}
.top__title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}
.top__title-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F8F3F4;
  min-height: 150px;
}

.main {
  margin-bottom: 128px;
}

.item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-bottom: 72px;
}
.item__cart {
  position: relative;
  width: 652px;
  display: flex;
  flex-direction: row;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}
.item__shipping-form {
  margin-left: 82px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.item__checkout {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
  margin-left: 82px;
  width: 360px;
  height: 214px;
  padding: 39px 43px 42px;
  background-color: #F5F3F3;
}
.item__img {
  width: 262px;
}
.item__content {
  padding: 22px 32px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.item__close-elem {
  position: absolute;
  top: 28px;
  right: 22px;
}
.item__hr-line {
  margin-bottom: 17px;
  width: 275px;
  border: 1px solid #E2E2E2;
}
.item__checkout-button {
  width: 275px;
  height: 50px;
  background-color: #F16D7F;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item__title_cart {
  padding-bottom: 36px;
  max-width: 262px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}
.item__title_shipping-form {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000;
}
.item__title_subtitle-check {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #6F6E6E;
  margin-bottom: 12px;
}
.item__title_title-check {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  margin-bottom: 21px;
}
.item__title_title-check_colored {
  color: #F16D7F;
}
.item__text_l {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #6F6E6E;
  opacity: 0.7;
  display: flex;
}
.item__text_s {
  width: 360px;
  padding: 13px 17px 16px 17px;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #6F6E6E;
  border: 1px solid #4A4A4A;
  opacity: 0.7;
}
.item__text_price {
  color: #F16D7F;
}
.item__text_quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 24px;
  width: 43px;
  height: 24px;
  border: 1px solid #EAEAEA;
}

.cart-buttons {
  width: 652px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart-button {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 222px;
  height: 47px;
  border: 1px solid #A4A4A4;
}

.footer__rev-sub {
  background-image: url(../img/footer/photo_subscribe.jpg);
}

/* TABLET */
@media (max-width: 1024px) {
  .center {
    /* мин визуальный отсуп для планшета 8px */
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  .products-catalog {
    padding-bottom: 70px;
  }
  .products-catalog__box {
    padding-top: 72px;
    padding-bottom: 33px;
    grid-template: repeat(3, 3fr)/repeat(2, 2fr);
    gap: 16px;
  }
  .footer__pros {
    gap: 49px;
    flex-direction: column;
    padding-top: 48px;
    padding-bottom: 64px;
  }
  .footer__rev-sub {
    padding-top: 64px;
    padding-bottom: 140px;
    flex-direction: column;
    gap: 48px;
  }
}
/* MOBILE */
@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 343px);
    padding-right: calc(50% - 343px);
  }
  .top__content {
    padding-left: calc(50% - 343px);
    padding-right: calc(50% - 343px);
    min-height: 363px;
    justify-content: center;
  }
  .top__nav-panel__left-side {
    padding-left: 16px;
  }
  .top__nav-panel__right_side {
    padding-right: 16px;
  }
  .products-catalog {
    padding-bottom: 85px;
  }
  .products-catalog__box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
    padding-bottom: 40px;
  }
  .products-catalog__box__item {
    max-width: 343px;
  }
  .footer__pros {
    gap: 47px;
    padding-bottom: 81px;
  }
  .footer__pros__item {
    max-width: 343px;
  }
  .footer__pros__rev-sub {
    padding-bottom: 110px;
  }
  .footer__pros__rev-sub__review {
    max-width: 343px;
  }
  .footer__pros__rev-sub__text {
    font-size: 18px;
    line-height: 22px;
  }
  .footer__pros__rev-sub__subscribe {
    max-width: 343px;
  }
  .footer__pros__rev-sub__subscribe__subtitle {
    font-size: 14px;
  }
  .footer__social-media {
    min-height: 143px;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 43px;
    padding-bottom: 9px;
  }
}
@media (max-width: 374px) {
  .footer__rev-sub__form__email {
    width: 176px;
  }
}
@media (max-width: 351px) {
  .top__nav-panel__left-side {
    padding-left: 8px;
  }
  .top__nav-panel__right_side {
    padding-right: 8px;
  }
  .products-catalog__box__item {
    padding-left: 8px;
    padding-right: 8px;
  }
}/*# sourceMappingURL=style.css.map */