@import '../vars-and-mixins';
@import '../nav-and-menuGeneral';
@import '../footerGeneral';


/* DESKTOP */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

summary {
    display: block;
    cursor: pointer;
}

summary::-webkit-details-marker {
    display: none;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.box {
    position: relative;
    overflow: hidden;
}

.button {
    cursor: pointer;
    width: 100px;
    border: 1px solid #4A4A4A;
    padding: 9px 10px 12px;
    background-color: #fff;
    @include font($fontStyle, 300, 11px, 13px, $contentColor);
}

.top {
    margin-bottom: 96px;

    &__title {
        @include font($fontStyle, $fontWeight, 24px, 29px, $accentColor);
    }

    &__title-block {
        @include positioning (center, space-between);
        background: #F8F3F4;
        min-height: 150px;
    }

}

.item {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 72px;

    &__cart {
        position: relative;
        width: 652px;
        display: flex;
        flex-direction: row;
        box-shadow: (17px 19px 24px rgba(0, 0, 0, 0.13));
    }

    &__shipping-form {
        margin-left: 82px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__checkout {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        box-sizing: border-box;
        margin-left: 82px;
        width: 360px;
        height: 214px;
        padding: 39px 43px 42px;
        background-color: #F5F3F3;
    }

    &__img {
        width: 262px;
    }

    &__content {
        padding: 22px 32px;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    &__close-elem {
        position: absolute;
        top: 28px;
        right: 22px;
    }

    &__hr-line {
        margin-bottom: 17px;
        width: 275px;
        border: 1px solid #E2E2E2;
    }

    &__checkout-button {
        width: 275px;
        height: 50px;
        background-color: $accentColor;
        @include font($fontStyle, 300, 16px, 19px, #fff);
        @include positioning(center, center)
    }

    &__title {

        &_cart {
            padding-bottom: 36px;
            max-width: 262px;
            @include font($fontStyle, $fontWeight, 24px, 29px, #000);
        }

        &_shipping-form {
            @include font($fontStyle, 300, 16px, 19px, #000);
        }

        &_subtitle-check {
            @include font($fontStyle, 400, 11px, 13px, $contentColor);
            margin-bottom: 12px;
        }

        &_title-check {
            @include font($fontStyle, 300, 16px, 19px, #000);
            margin-bottom: 21px;

            &_colored {
                color: $accentColor;
            }
        }
    }

    &__text {

        &_l {
            @include font($fontStyle, $fontWeight, 22px, 26px, $contentColor);
            display: flex;
        }

        &_s {
            width: 360px;
            padding: 13px 17px 16px 17px;
            @include font($fontStyle, 300, 13px, 16px, $contentColor);
            border: 1px solid #4A4A4A;
        }


        &_price {
            color: $accentColor;
        }

        &_quantity {
            @include positioning (center, center);
            margin-left: 24px;
            width: 43px;
            height: 24px;
            border: 1px solid #EAEAEA;
        }
    }
}

.cart-buttons {
    margin-top: 88px;
    width: 652px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart-button {
    @include font($fontStyle, 300, 14px, 17px, #000);
    @include positioning(center, center);
    width: 222px;
    height: 47px;
    border: 1px solid #A4A4A4;
}

.footer {
    &__rev-sub {
        background-image: url(../img/footer/photo_subscribe.jpg);
    }
}


/* TABLET */
@import '../tabletGeneral';

@media (max-width: 1156px) {
    .item {
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        margin-bottom: 140px;

        &__cart {
            width: 734px;
            grid-column: span 2;
        }

        &__shipping-form {
            order: 2;
            margin-left: 0;
            margin-top: -39px;
        }

        &__checkout {
            order: 2;
            margin-left: 0;
        }

        &__text_s {
            width: 324px;
        }
    }

    .cart-buttons {
        grid-column: span 2;
        width: 734px;
        justify-content: center;
        gap: 49px;
        margin-top: 46px;
        margin-bottom: 88px;
    }

}

/* MOBILE */
@import '../mobileGeneral';

@media (max-width: 767px) {

    .top__title-block {
        justify-content: center;
    }

    .item {
        grid-template-columns: 1fr;
        gap: 32px;
        margin-bottom: 96px;
        justify-items: center;

        &__cart {
            width: 360px;
            grid-column: span 1;
        }

        &__shipping-form {
            order: 2;
            margin-left: 0;
            margin-bottom: 16px;
        }

        &__checkout {
            order: 2;
            margin-left: 0;
        }

        &__content {
            padding: 13px 17px;
            gap: 4px;
        }

        &__text_s {
            width: 324px;
        }

        &__text_l {
            font-size: 14px;
            line-height: 17px;
        }

        &__title_cart {
            padding-bottom: 20px;
            font-size: 16px;
            line-height: 19px;
        }

        &__img {
            width: 144px;
        }


        &__close-elem {
            position: absolute;
            top: 17px;
            right: 12px;
            width: 10px;
        }

        &__text_quantity {
            width: 24px;
            height: 15px;
            margin-left: 15px;
        }

    }

    .cart-buttons {
        grid-column: span 1;
        width: 360px;
        justify-content: center;
        gap: 9px;
        margin-top: 0px;
        margin-bottom: 38px;
    }

    .cart-button {
        width: 174px;
        height: 32px;
        font-size: 12px;
        line-height: 14px;
    }
}

@media (max-width:351px) {

    .item__cart {
        width: 310px;
    }

    .item__text_s {
        width: 274px;
    }

    .item__checkout {
        width: 310px;
        padding: 32px 18px 38px;
    }

    .cart-buttons {
        width: 310px;
    }
}