@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.img {
  max-width: 100%;
}
.img_articles-news-item {
  width: 340px;
  border-top-left-radius: 62px;
  border-top-right-radius: 62px;
}
.img_articles-news-item_big {
  width: 569px;
  border-radius: 62px;
}

.breadcrumb {
  list-style: none;
}
.breadcrumb__li {
  display: inline;
}
.breadcrumb__li + .breadcrumb__li:before {
  padding: 8px;
  color: #4D5053;
  content: "/ ";
}

.text-center {
  text-align: center;
}

.title {
  color: #292F36;
  font-family: "DM Serif Display", serif;
  font-size: 85px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.title_logo {
  font-size: 40px;
}
.title_counter {
  color: #CDA274;
}
.title_quote {
  color: #CDA274;
  font-size: 25px;
  font-style: italic;
  letter-spacing: 0.5px;
}
.title_65 {
  font-size: 65px;
}
.title_50 {
  font-size: 50px;
  letter-spacing: 1px;
}
.title_25 {
  font-size: 25px;
  letter-spacing: 0.5px;
}

.text {
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
.text_link {
  font-size: 20px;
  line-height: 125%;
  color: #292F36;
}
.text_footer {
  color: #4D5053;
  font-size: 22px;
  line-height: 300%;
}
.text_22 {
  font-size: 22px;
}
.text_16 {
  font-size: 16px;
  letter-spacing: 0.16px;
  text-transform: capitalize;
}

.rect-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 220px;
  padding: 26px 0px;
  border-radius: 18px;
  background: #292F36;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.36px;
  color: #fff;
}

.logo {
  width: 177px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav {
  display: flex;
}
.nav_header {
  width: 243px;
  justify-content: space-between;
}
.nav_footer {
  flex-direction: column;
}

.header {
  margin-top: 53px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 116px;
}

.social-media {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.social-media__icons {
  display: flex;
  gap: 16px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.articles-news-block__items {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-top: 30px;
}
.articles-news-block__item {
  padding: 21px;
  border-radius: 62px;
  border: 1px solid #E7E7E7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.articles-news-block__item-demo {
  position: relative;
  display: flex;
  flex-direction: column;
}
.articles-news-block__room-name-el {
  width: 124px;
  height: 41px;
  border-radius: 8px 8px 8px 0px;
  background: #FFF;
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.articles-news-block__title {
  display: block;
  width: 305px;
}

.date-and-btn-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.main {
  margin-top: 50px;
  margin-bottom: 100px;
}

.banner_blog-detailed {
  min-height: 356px;
  background-image: url("../img/blog-detailed-banner.jpg");
}

.full-post-box {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
}

.full-post {
  max-width: 799px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.img_blog-detailed {
  border-radius: 50px;
}

.about-article {
  display: flex;
  justify-content: space-between;
}

.quote {
  border-radius: 50px;
  background-color: #F4F0EC;
  padding: 63px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.text_ol {
  list-style-type: none;
  /* Убираем исходные маркеры */
  counter-reset: num;
  /* Задаём имя счетчика */
}

.text_li::before {
  content: counter(num) ". ";
  /* Выводим число */
  counter-increment: num;
  /* Увеличиваем значение счётчика */
  color: #CDA274;
}

.full-post-filters {
  max-width: 345px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.full-post-filters__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.full-post-filters__tag {
  padding: 9px 30px;
  border-radius: 10px;
  background: #F4F0EC;
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.36px;
}
.full-post-filters__tag input[type=radio] {
  display: none;
}
.full-post-filters__tag_active {
  background-color: #292F36;
  color: #fff;
}

.articles-news-block__items_blog-detailed {
  grid-template-columns: 1fr;
}/*# sourceMappingURL=style.css.map */