$contentColor: #6F6E6E;
$accentColor: #F16D7F;
$fontStyle: normal;
$fontWeight: 400;
$fontSize: 14px;
$lineHeight: 17px;

@mixin font($fontStyle, $fontWeight, $fontSize, $lineHeight, $textColor) {
    font-style: $fontStyle;
    font-weight: $fontWeight;
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $textColor;
}

@mixin positioning ($alignItems, $justifyContent) {
    display: flex;
    align-items: $alignItems;
    justify-content: $justifyContent;
}